.header_class {
  background-color: rgb(152, 173, 206);
  font-family: "Mali", cursive;
  margin-right: 60%;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 50px;
  border-radius: 0px 0px 30px 0px;

}

#first-header {
  text-align: center;
  font-size: 40pt;
  color: rgb(115, 150, 96);
  border: rgb(115, 255, 96);
}
